<!DOCTYPE html>
<html lang="en" data-lg-smooth>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="knz." />
    <meta name="description" content="Hi! I’m a web designer and developer based in the Philippines with 10+ years of experience. I enjoy creating clean, responsive, and user-friendly websites—whether I’m designing layouts or coding them from scratch. I love learning new tools, experimenting with modern tech, and helping ideas come alive on the web." />
    <meta name="keywords" content="web developer philippines, web designer philippines, filipino web developer, filipino web designer, laravel developer, react developer, frontend developer, backend developer, kenaz nepomuceno, web portfolio" />
    <meta name="author" content="Kenaz Nepomuceno" />

    <meta property="og:url" content="https://knznepo.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="knz." />
    <meta property="og:description" content="Hi! I’m a web designer and developer based in the Philippines with 10+ years of experience. I enjoy creating clean, responsive, and user-friendly websites—whether I’m designing layouts or coding them from scratch. I love learning new tools, experimenting with modern tech, and helping ideas come alive on the web." />
    <meta property="og:image" content="https://knznepo.github.io/knz-banner.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="knz." />

    <link rel="icon" type="image/png" href="favico.ico" />
    
    <title>knz.</title>
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="plugins/luge/css/luge.css">
    <!-- swipper.js -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/56bb0df094.js" crossorigin="anonymous" defer></script>

    <!-- Google tag (gtag.js) -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-3QZRZ12W10"></script>
    <script defer>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3QZRZ12W10');
    </script>
</head>
<body>

    <header class="main-header animate animate-slide-down animate-delay-1">
        <div class="wrapper flex justify-between align-center">
            <h1 class="site-title">
                <a href="#" class="random-hover">k<span class="text-flip-horizontal animate-flip-horizontal">n</span>z.</a>
            </h1>

            <nav class="main-nav">
                <ul class="main-nav-links">
                    <li><a href="#works" class="random-hover">Works</a></li>
                    <li><a href="#about" class="random-hover">About</a></li>
                    <li><a href="#contact" class="random-hover"><b>Hire Me</b></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero-section">
        <div class="hero-body">
            <div class="wrapper">
                <h1>Less Noise. More Meaning.</h1>
                <p class="animate animate-fadein-up animate-delay-08">
                    I’m Kenaz, a designer and developer who believes that good design is quiet but powerful. My work focuses on simplicity, usability, and emotional resonance — shaping digital experiences that feel as good as they look.
                </p>
            </div>
        </div>

        <div class="hero-footer animate animate-fadein animate-delay-1">
            <div class="responsive-scroll animate-fade-in-up" title="scroll down">
                <span class="scroll-thisico"></span>
            </div>
            <small>scroll for more</small>
        </div>
    </section>

    <section class="works-section" id="works">
        <div class="wrapper">
            <header class="section-header animate animate-fadein-up animate-delay-02">
                <span>Featured Works</span>
                <h2 class="section-title">Showcase</h2>
            </header>
        </div>

        <section class="section-body">
            <div class="swiper">
                <div class="swiper-wrapper" id="work-slider">

                    <div v-for="item in worksSlider" class="swiper-slide">
                        <div class="works">
                            <div class="work-item" :style="`background-color: ${item.theme.bg}; color: ${item.theme.text};`">
                                <div class="wrapper flex">
                                    <div class="work-details animate animate-fadein-right">
                                        <span class="work-tags">{{ item.title_tag }}</span>
                                        <h3 class="work-title">{{ item.title }}</h3>
                                        
                                        <div class="work-description" v-html="item.description"></div>

                                        <div class="work-details-footer flex justify-between">
                                            <ul class="work-tech-used">
                                                <li v-for="tech in item.tech">
                                                    <template v-if="Array.isArray(tech)">
                                                        <a :href="tech[1]" target="_blank" :style="`color: ${item.theme.text}`">
                                                            <template v-if="['photoshop', 'nextjs', 'codeigniter'].includes(tech[0])">
                                                                <i :class="`icon-custom icon-${tech[0]}`" :title="`${capitalize(tech[0])}`" :style="`background-color: ${item.theme.text}`"></i>
                                                            </template>

                                                            <template v-else>
                                                                <i :class="['fab', `fa-${tech[0]}`, 'fa-lg']" :title="capitalize(tech[0])"></i>
                                                            </template>
                                                        </a>
                                                    </template>

                                                    <template v-else>

                                                        <template v-if="['photoshop', 'nextjs', 'codeigniter'].includes(tech)">
                                                            <i :class="`icon-custom icon-${tech}`" :title="`${capitalize(tech)}`" :style="`background-color: ${item.theme.text}`"></i>
                                                        </template>

                                                        <template v-else>
                                                            <i :class="['fab', `fa-${tech}`, 'fa-lg']" :title="capitalize(tech)" :style="`color: ${item.theme.text}`"></i>
                                                        </template>
                                                        
                                                    </template>
                                                </li>
                                            </ul>

                                            <a :href="item.link" target="_blank" class="visit-link" :style="`color: ${item.theme.text}`"><span>Visit</span> <i class="fa-solid fa-arrow-right-long fa-lg visit-link-icon" title="Visit Link"></i></a>
                                        </div>

                                    </div>

                                    <a :href="item.link" target="_blank" class="work-thumbnail animate animate-fadein-right" :style="`box-shadow: 0px 5px 20px 0px ${item.theme.shadow}`">
                                        <img class="animate animate-fadein-right" :src="`/images/${item.thumbnail}`" alt="COMPASS Initiative Website Mockup">
                                    </a>
                                </div>
                            </div>
                        </div><!-- works -->
                    </div><!-- swiper slide -->

                </div><!-- swiper-wrapper -->

                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <div class="wrapper">
                    <nav class="work-slider-nav">
                        <!-- If we need navigation buttons -->
                        <div class="flex">
                            <div class="work-prev work-nav">Prev</div>
                            <div class="work-next work-nav">Next</div>
                        </div>
                        
                        <div class="flex gap-4">
                            <a href="#more-works" class="animate animate-fadein-left animate-delay-08 more-works-link random-hover">
                                <i class="fa-solid fa-code"></i>
                                <span>More Works</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div><!-- swiper -->
        </section>

        <!-- More Works Modal -->
        <div class="modal">
            <div class="modal-box">
                <header class="flex justify-between align-center">
                    <h3>More Works</h3>

                    <a href="#" class="modal-close"><i class="fa-solid fa-xmark fa-sm"></i></a>
                </header>

                <section id="more-works" data-lg-smooth>
                    <div class="flex align-center justify-between more-works-item" v-for="work in works">
                        <div class="more-works-details">
                            <h4>{{ work.title }}</h4>
                            <div v-html="work.desc"></div>

                            <ul class="more-works-meta flex gap-xl">
                                <li><b>Year:</b> {{ work.year }}</li>
                                <li v-if="work.status != ''"><b>Status:</b> {{ work.status }}</li>
                                <li>
                                    <a :href="`${work.link}`" target="_blank" class="visit-link align-center"><b>Visit</b> <i class="fa-solid fa-arrow-right-long fa-lg visit-link-icon" title="Visit Link"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="more-works-icon flex justify-center">
                            <template v-if="['photoshop', 'nextjs', 'codeigniter'].includes(work.type)">
                                <i :class="`icon-custom icon-${work.type}`"></i>
                            </template>

                            <template v-else>
                                <i :class="`fab fa-${work.type} fa-2xl`"></i>
                            </template>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
                                                            
    <section class="about-section" id="about">
        <div class="wrapper">
            <header class="section-header">
                <span class="animate animate-fadein-up animate-delay-1">About Me</span>
                <h2 class="section-title animate animate-fadein-down animate-delay-02">Web <i>Designer</i> & Developer</h2>
            </header>

            <div class="about-me-container">
                <img src="images/me.webp" alt="kenaz" id="me" class="animate animate-fadein-left animate-delay-08">
                <div class="animate animate-fadein-right animate-delay-1">
                    <p>Hi! I’m a web designer and developer based in the Philippines with 10+ years of experience. I enjoy creating clean, responsive, and user-friendly websites—whether I’m designing layouts or coding them from scratch. I love learning new tools, experimenting with modern tech, and helping ideas come alive on the web.</p>
                    
                    <h3>Skills & Expertise</h3>
                    <ul class="tech-stack">
                        <li>Laravel</li>
                        <li>Codeigniter</li>
                        <li>WordPress</li>
                        <li>Drupal</li>
                        <li>Shopify</li>
                        <li>ReactJS</li>
                        <li>VueJS</li>
                        <li>NextJS</li>
                        <li>NodeJS</li>
                        <li>Sass</li>
                        <li>Tailwind</li>
                        <li>Elementor</li>
                        <li>Divi</li>
                        <li>Figma</li>
                        <li>Photoshop</li>
                        <li>Lightroom</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section" id="contact">
        <div class="wrapper">
            <div class="flex justify-between">
                <section>
                    <header class="section-header">
                        <span class="animate animate-fadein-up animate-delay-1">Hire Me</span>
                        <h2 class="section-title animate animate-fadein animate-delay-02">Let's Work Together</h2>
                    </header>

                    <p class="animate animate-fadein-down animate-delay-08 mb-lg">Send me a message and let’s make something great.</p>

                    <div class="flex flex-column gap-2 animate animate-fadein-down animate-delay-2">
                        <div class="flex align-center email-link">
                            <i class="fa fa-envelope"></i><a href="mailto:kenaznepomuceno@gmail.com">kenaznepomuceno@gmail.com</a>
                        </div>

                        <div class="flex align-center email-link">
                            <i class="fa fa-location-dot"></i><span>Philippines</span>
                        </div>
                    </div>
                </section>

                <section class="flex flex-end align-center">
                    <div class="history-log animate animate-fadein animate-delay-2">
                        <p>History</p>
                        <ul>
                            <li><a href="2017-2018">2017-2018</a></li>
                            <li><a href="2019-2025">2019-2025</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script src="plugins/luge/js/luge.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <scrtip src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" defer></script>
    
    <script src="js/scripts.js"></script>
</body>
</html>