<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3QZRZ12W10" defer></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3QZRZ12W10');
    </script>

    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" defer>
    <link rel="stylesheet" href="https://knznepo.github.io/assets/css/style.css">
    <script src="https://kit.fontawesome.com/56bb0df094.js" crossorigin="anonymous" defer></script>

    <!-- meta -->
    <meta name="title" 		   content="Kenaz Nepomuceno" />
    <meta name="description" content="Web developer & designer since 2011. Based in the Philippines.🇵🇭  Fluent in Lorem ipsum dolor." />
    <meta name="keywords" 	 content="Web Developer, Web Designer, Philippines, Kenaz, Kenaz Nepomuceno, Front-end, Back-end, Website, Laravel, ReactJS, Codeigniter, Wordpress, Google, web developer in philippines, web designer in philippines, filipino web designer" />
    <meta name="author" 		 content="Kenaz Nepomuceno" />

    <meta property="og:url" 		     content="https://www.knznepo.github.io" />
    <meta property="og:type" 		     content="website" />
    <meta property="og:title" 		   content="Kenaz Nepomuceno Portfolio" />
    <meta property="og:description"  content="Web developer & designer since 2011. Based in the Philippines. 🇵" />
    <meta property="og:image" 		   content="https://knznepo.github.io/knz-banner.jpg" />
    <meta property="og:image:type"   content="image/jpg" />
    <meta property="og:image:width"  content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:author" 		   content="Kenaz Nepomuceno" />
    <meta property="og:site_name" 	 content="Kenaz Nepomuceno Webiste" />

    <link rel="icon" type="image/png" href="https://knznepo.github.io/favico.ico" />

    <title>knznepo 😎</title>
  </head>

  <body>
    <header>
      <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container container-slim">
          <a class="navbar-brand" href="#">
            <strong>
              <span style="font-size:1.6em">}{</span>
              <span style="position:relative; top: -5px">knznepo</span>
            </strong>
          </a>
          <ul id="social-links" class="mr-1">
            <li><a href="https://www.facebook.com/kenaz.nepomuceno" target="_blank" alt="Facebook"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/knznpmcn" target="_blank" alt="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/knznpmcn/" target="_blank" alt="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.behance.net/knznepo" target="_blank" alt="Behance"><i class="fab fa-behance"></i></a></li>
            <li><a href="https://www.linkedin.com/in/kenaz-nepomuceno-53359628/" target="_blank" alt="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div><!-- container -->
      </nav>
    </header>

    <section id="main-container" class="mb-3">
      <div class="container container-slim mt-5 pt-3">

        <div id="about" class="pb-5">
          <img src="https://knznepo.github.io/assets/images/me.webp" alt="My Avatar">

          <h2><strong>Hi I'm Kenaz</strong></h2>
          <p>Creative designer, detailed-oriented developer. Converting coffee into websites since 2011, based in the Philippines 🇵🇭. Fluent in Lorem Ipsum.</p>
        </div><!-- about -->

        <div id="skills" class="pb-5">
          <h2>🧰 Tech Stack</h2>
          <p class="description">Here are the tech stack & tools I use.</p>
          <hr/>

          <div id="skills-links">
            <p>
              <a href="https://laravel.com/" target="_blank" title="Laravel"><i class="fa-brands fa-laravel"></i>Laravel</a>
              <a href="https://codeigniter.com/" target="_blank" title="Codeigniter"><i class="fa-codeigniter"></i>Codeigniter</a>
              <a href="https://wordpress.org/" target="_blank" title="WordPress"><i class="fab fa-wordpress"></i>WordPress</a>
              <a href="https://www.drupal.org/" target="_blank" title="Drupal"><i class="fab fa-drupal"></i>Drupal</a>
              <a href="https://www.shopify.com/" target="_blank" title="Shopify"><i class="fa-brands fa-shopify"></i>Shopify</i></a>
              <a href="https://www.bigcommerce.com/" target="_blank" title="BigCommerce"><i class="custom-icon icon-bigcommerce"></i>BigCommerce</a>
            </p>

            <p>
              <a href="https://reactjs.org/" target="_blank" title="ReactJS"><i class="fab fa-react"></i>ReactJS</a>
              <a href="https://vuejs.org/" target="_blank" title="VueJS"><i class="fab fa-vuejs"></i>VueJS</a>
              <a href="https://nodejs.org/en/" target="_blank" title="NodeJS"><i class="fab fa-node-js"></i>NodeJS</a>
              <a href="https://www.npmjs.com/" target="_blank" title="NPM"><i class="fab fa-npm"></i>NPM</a>
              <a href="https://www.w3schools.com/css/" target="_blank" title="CSS"><i class="fab fa-css3-alt"></i> CSS</a>
              <a href="https://sass-lang.com/" target="_blank" title="SASS"><i class="fab fa-sass"></i> Sass</a>
              <a href="https://getbootstrap.com/" target="_blank" title="Bootstrap"><i class="fab fa-bootstrap"></i> Bootstrap</a>
            </p>

            <p>
              <a href="https://www.figma.com/" target="_blank" title="Figma"><i class="fa-brands fa-figma"></i> Figma</a>
              <a href="https://elementor.com/" target="_blank" title="Elementor"><i class="fa-brands fa-elementor"></i> Elementor</a>
              <a href="" target="_blank" title="Divi"><img style="width: 19px; margin-right: 4px; top: -2px; position: relative;" src="https://knznepo.github.io/assets/images/divi.webp"> Divi</a>
              <a href="https://www.photoshop.com/" target="_blank" title="Photoshop"><img style="position: relative; top: -2px; margin-right: 0" src="https://knznepo.github.io/assets/images/ps.webp"> Photoshop
              </a>
              <a href="https://www.adobe.com/products/photoshop-lightroom.html" target="_blank" title="Lightroom">
                <img style="width: 19px; margin-right: 4px; top: -2px; position: relative;" src="https://knznepo.github.io/assets/images/lr.webp">Lightroom
              </a>
            </p>

            <p>
              <a title="Laptop">
                <i class="fas fa-laptop"></i>Mac
              </a>
              <a title="Coffee">
                <i class="fas fa-mug-hot"></i>Coffee
              </a>
            </p>

            <div class="clearfix"></div>
          </div><!-- skills-links -->
        </div><!-- skills -->

        <div id="works" class="pb-5">
          <h2>☕️ Works</h2>
          <p class="description">This section showcase some of my works from office and freelance projects.</p>
          <!-- <hr/> -->
          <table id="works-table" class="table table-hover">
            <tr v-for="item in works">
              <td width="8%"><i class="fab" v-bind:class="'fa-'+item.type"></i></td>
              <td>
                <a v-bind:href="item.link" target="_blank">{{ item.title }}</a>
                <small v-if="item.status == 'down'" title="dead link">😵 (down)</small>
                <small v-if="item.status == 'private'" title="private">🔒(private)</small>

                <p class="text-muted description">
                  <span v-html="item.desc"></span> <small v-if="item.year">({{ item.year }})</small>
                </p>
              </td>
            </tr>
          </table>
        </div><!-- works -->

        <div id="graphic-works" class="pb-5">
          <h2>🎨 Graphic Works</h2>
          <p class="description">
            Web design, logo, branding, vector arts, photography, etc. <br/>
            visit &#8594; <a href="https://www.behance.net/knznepo" target="_blank">behance.net/knznepo</a>
          </p>
        </div><!-- graphic-works -->

        <div id="contact" class="pb-5">
          <h2>🤙🏼 Say Hello</h2>
          <p class="description">
            Let's talk!
            <a href="mailto: kenaznepomuceno@gmail.com">kenaznepomuceno@gmail.com</a>
          </p>

        </div><!-- contact -->

      </div><!-- container -->

    </section><!-- main-container -->

    <footer id="main-footer" class="mb-5 pb-3">
      <div class="container container-slim">
        <p class="text-center p-footer">&copy; 2019-<span class="js-date"></span>. All rights reserved. <br/>
          <a href="https://knznepo.github.io/2017-2018/index.html">2017-2018</a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <scrtip src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" defer></script>
    <script src="https://knznepo.github.io/assets/js/script.js" defer></script>
  </body>
</html>
