* {
  font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #195894;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

body p {
  font-size: 19px;
  line-height: 30px;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

p, table td {
  color: #595959;
}

table {
  border-collapse: collapse;
}

table td {
  display: table-cell;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0,0,0,.075);
}

/* Layout */
.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pt-3 { padding-top: 1rem; }
.pb-5 { padding-bottom: 3rem; }
.mt-5 { margin-top: 3rem; }
.mb-3 { margin-bottom: 1rem; }

.navbar-brand {
  text-decoration: none;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: 20px;
}

.navbar-brand .text-logo {
  font-size: 1em;
  margin-right: 8px;
}

@media(min-wdith: 398px) {
  .navbar-brand .text-logo {
    font-size: 1.3em;
  }
}

.navbar-brand span, h2 {
  color: #3d4f5f;
}

.navbar-brand strong {
  display: flex;
  align-items: center;
}

#main-nav {
  background: #fff !important;
  border-bottom: 1px solid #eee;
  padding: .5rem 1rem;
}

#main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#social-links {
  padding: 0;
  margin: 0;
}

#social-links li {
  float: left;
  list-style: none;
}

#social-links li a {
  display: block;
  vertical-align: middle;
  margin-left: 14px;
  color: #65778b;
}

@media (min-width: 398px) {
  #social-links li a {
    margin-left: 20px;
  }
}


#avatar-left {
  display: none;
}

#about {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#about h2 {
  font-size: 3rem;
}

#about img {
  height: 280px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

#about p {
  color: #65778b;
  font-size: 1.45rem;
}

#social-links i {
  font-size: 1.2em;
}

.fa-codeigniter,
.fa-photoshop,
.fa-lightroom,
.fa-divi,
.fa-tailwind,
.fa-nextjs {
  position: relative;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.fa-codeigniter {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2365778b' viewBox='0 0 24 24' role='img' xmlns='http://www.w3.org/2000/svg' stroke='%2365778b'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M11.466 0c.88 1.423-.28 3.306-1.207 4.358-.899 1.02-1.992 1.873-2.985 2.8-1.066.996-2.091 2.044-2.967 3.213-1.753 2.339-2.827 5.28-2.038 8.199.788 2.916 3.314 4.772 6.167 5.429-1.44-.622-2.786-2.203-2.79-3.82-.003-1.765 1.115-3.262 2.505-4.246-.167.632-.258 1.21.155 1.774a1.68 1.68 0 0 0 1.696.642c1.487-.326 1.556-1.96.674-2.914-.872-.943-1.715-2.009-1.384-3.377.167-.685.588-1.328 1.121-1.787-.41 1.078.755 2.14 1.523 2.67 1.332.918 2.793 1.612 4.017 2.688 1.288 1.132 2.24 2.661 2.047 4.435-.208 1.923-1.736 3.26-3.45 3.936 3.622-.8 7.365-3.61 7.44-7.627.093-3.032-1.903-5.717-5.158-7.384.19.48.074.697-.058.924-.55.944-2.082 1.152-2.835.184-1.205-1.548.025-3.216.197-4.855.215-2.055-1.073-4.049-2.67-5.242z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 23px;
  height: 25px;
}

.fa-photoshop {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2365778b' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='2069a460dcf28295e231f3111e037552'%3E%3Cpath display='inline' d='M426.333,0.5H85.667C38.825,0.5,0.5,38.825,0.5,85.667v340.667c0,46.842,38.325,85.167,85.167,85.167 h340.667c46.842,0,85.167-38.325,85.167-85.167V85.667C511.5,38.825,473.175,0.5,426.333,0.5z M245.329,260.524 c-17.736,17.736-45.611,26.065-77.103,26.065c-8.326,0-15.927-0.365-21.72-1.451v91.945h-44.159V136.363 c15.927-2.895,38.009-5.069,68.05-5.069c32.582,0,56.473,6.878,72.039,19.911c14.48,11.947,23.89,31.131,23.89,53.936 C266.325,228.309,259.086,247.492,245.329,260.524z M337.981,380.706c-21.358,0-40.542-5.069-53.574-12.31l8.687-32.216 c10.135,6.154,29.322,12.671,45.249,12.671c19.545,0,28.236-7.964,28.236-19.549c0-11.943-7.239-18.099-28.96-25.7 c-34.391-11.947-48.866-30.769-48.505-51.403c0-31.131,25.7-55.383,66.604-55.383c19.549,0,36.562,5.069,46.695,10.496 l-8.687,31.493c-7.602-4.342-21.721-10.135-37.285-10.135c-15.928,0-24.615,7.602-24.615,18.46c0,11.224,8.326,16.655,30.77,24.618 c31.854,11.582,46.696,27.871,47.058,53.937C409.653,357.539,384.678,380.706,337.981,380.706z M221.8,206.95 c0,28.598-20.273,44.887-53.574,44.887c-9.049,0-16.289-0.362-21.72-1.809v-82.534c4.708-1.085,13.395-2.171,25.704-2.171 C202.979,165.323,221.8,179.803,221.8,206.95z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 20px;
  height: 22px;
}

.fa-lightroom {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2365778b' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' stroke='%2365778b'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Eadobelightroom%3C/title%3E%3Cpath d='M24.76 12.039v2.437c0 0.1-0.062 0.137-0.2 0.137-0.091-0.006-0.197-0.009-0.304-0.009-0.745 0-1.452 0.16-2.090 0.447l0.032-0.013c-0.263 0.114-0.487 0.27-0.674 0.462l-0 0v6.373c0 0.125-0.050 0.175-0.162 0.175h-2.437c-0.009 0.002-0.018 0.002-0.029 0.002-0.088 0-0.16-0.065-0.171-0.15l-0-0.001v-6.974c0-0.3 0-0.612-0.012-0.937s-0.012-0.65-0.025-0.975q-0.019-0.412-0.076-0.825c-0.002-0.008-0.003-0.016-0.003-0.025 0-0.055 0.038-0.101 0.090-0.112l0.001-0c0.012-0.012 0.025-0.012 0.050 0h2.187c0.124 0.003 0.227 0.085 0.262 0.198l0.001 0.002c0.049 0.083 0.084 0.18 0.099 0.283l0 0.004c0.025 0.125 0.049 0.262 0.062 0.387 0.012 0.137 0.026 0.287 0.026 0.45 0.372-0.433 0.814-0.792 1.311-1.063l0.024-0.012c0.514-0.284 1.126-0.451 1.778-0.451 0.030 0 0.059 0 0.089 0.001l-0.004-0c0.006-0.001 0.013-0.001 0.020-0.001 0.080 0 0.146 0.060 0.155 0.138l0 0.001zM16.95 21.86c-0.004 0.061-0.032 0.114-0.075 0.151l-0 0c-0.033 0.023-0.074 0.036-0.119 0.036-0.003 0-0.005-0-0.008-0h-7.921c-0.137 0-0.2-0.076-0.2-0.225v-12.77c-0.001-0.006-0.001-0.013-0.001-0.020 0-0.080 0.060-0.146 0.138-0.155l0.001-0h2.499c0.006-0.001 0.014-0.002 0.021-0.002 0.059 0 0.108 0.044 0.116 0.101l0 0.001v10.534h5.773c0.126 0 0.164 0.061 0.137 0.175zM25.685 1.379h-19.369c-0.001 0-0.003 0-0.004 0-2.931 0-5.307 2.376-5.307 5.307 0 0.002 0 0.003 0 0.005v-0 18.62c0 0.001 0 0.003 0 0.004 0 2.931 2.376 5.307 5.307 5.307 0.002 0 0.003 0 0.005 0h19.369c0.001 0 0.003 0 0.004 0 2.931 0 5.307-2.376 5.307-5.307 0-0.002 0-0.003 0-0.005v0-18.62c0-0.001 0-0.003 0-0.004 0-2.931-2.376-5.307-5.307-5.307-0.002 0-0.003 0-0.005 0h0z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 20px;
  height: 22px;
}

.fa-divi {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.0' id='svg22' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 88.5 62.3' style='enable-background:new 0 0 88.5 62.3;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%2365778b;%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D%0A%3C/style%3E%3Csodipodi:namedview bordercolor='%23666666' borderopacity='1' gridtolerance='10' guidetolerance='10' id='namedview24' inkscape:current-layer='svg22' inkscape:cx='40.27674' inkscape:cy='18.601074' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-height='1051' inkscape:window-maximized='1' inkscape:window-width='1842' inkscape:window-x='69' inkscape:window-y='-9' inkscape:zoom='4.7676768' objecttolerance='10' pagecolor='%23ffffff' showgrid='false'%3E%3C/sodipodi:namedview%3E%3ClinearGradient id='rect10_1_' gradientUnits='userSpaceOnUse' x1='64.0456' y1='608.9644' x2='24.3906' y2='569.3094' gradientTransform='matrix(1 0 0 1 0 -558)'%3E%3Cstop offset='0' style='stop-color:%234B81EB'/%3E%3Cstop offset='1' style='stop-color:%236752F4'/%3E%3C/linearGradient%3E%3Cpath id='rect10' class='st0' d='M44.2,11.3L44.2,11.3c11,0,19.8,8.9,19.8,19.8l0,0c0,11-8.9,19.8-19.8,19.8l0,0 C33.3,51,24.4,42.1,24.4,31.1l0,0C24.4,20.2,33.3,11.3,44.2,11.3z'/%3E%3Cpath id='path12' inkscape:connector-curvature='0' class='st1' d='M33.4,20.7h11.8c4.8,0,9.7,3.4,9.7,10.3S50,41.3,45.2,41.3h-8.7 V30.2h5.1v6.1H45c2.2,0,4.8-2.5,4.8-5.3s-2.5-5.3-4.8-5.3h-5.6C36.9,25.7,34.9,24,33.4,20.7z'/%3E%3C/svg%3E%0A");
  width: 23px;
  height: 20px;
  transform: scale(2);
  position: relative;
  top: 4px;
}

.fa-tailwind {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' fill='%2365778b'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Efile_type_tailwind%3C/title%3E%3Cpath d='M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z' style='fill:%2365778b'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 21px;
  height: 21px;
}

.fa-nextjs {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.2141 0.00645944C11.1625 0.0111515 10.9982 0.0275738 10.8504 0.039304C7.44164 0.346635 4.24868 2.18593 2.22639 5.01291C1.10029 6.58476 0.380059 8.36775 0.107918 10.2563C0.0117302 10.9156 0 11.1103 0 12.0041C0 12.898 0.0117302 13.0927 0.107918 13.7519C0.760117 18.2587 3.96716 22.0452 8.31672 23.4481C9.0956 23.6991 9.91672 23.8704 10.8504 23.9736C11.2141 24.0135 12.7859 24.0135 13.1496 23.9736C14.7613 23.7953 16.1267 23.3965 17.4733 22.7091C17.6798 22.6035 17.7196 22.5754 17.6915 22.5519C17.6727 22.5378 16.793 21.3578 15.7372 19.9314L13.8182 17.339L11.4135 13.7801C10.0903 11.8235 9.00176 10.2235 8.99238 10.2235C8.98299 10.2211 8.97361 11.8024 8.96891 13.7331C8.96188 17.1138 8.95953 17.2499 8.9173 17.3296C8.85631 17.4446 8.80938 17.4915 8.71085 17.5431C8.63578 17.5807 8.57009 17.5877 8.21584 17.5877H7.80997L7.70205 17.5197C7.63167 17.4751 7.58006 17.4164 7.54487 17.3484L7.4956 17.2428L7.50029 12.539L7.50733 7.83285L7.58006 7.74136C7.6176 7.69209 7.69736 7.62875 7.75367 7.59825C7.84985 7.55133 7.88739 7.54664 8.29325 7.54664C8.77185 7.54664 8.85161 7.5654 8.97595 7.70147C9.01114 7.73901 10.3132 9.7003 11.871 12.0628C13.4287 14.4252 15.5589 17.651 16.6053 19.2346L18.5056 22.1132L18.6018 22.0499C19.4534 21.4962 20.3543 20.7079 21.0674 19.8868C22.5853 18.1437 23.5636 16.0182 23.8921 13.7519C23.9883 13.0927 24 12.898 24 12.0041C24 11.1103 23.9883 10.9156 23.8921 10.2563C23.2399 5.74957 20.0328 1.96306 15.6833 0.560125C14.9161 0.311445 14.0997 0.140184 13.1848 0.036958C12.9595 0.0134976 11.4088 -0.0123089 11.2141 0.00645944ZM16.1267 7.26511C16.2393 7.32142 16.3308 7.42933 16.3636 7.54194C16.3824 7.60294 16.3871 8.90734 16.3824 11.8469L16.3754 16.0651L15.6317 14.9249L14.8856 13.7848V10.7185C14.8856 8.73608 14.895 7.62171 14.9091 7.56775C14.9466 7.43637 15.0287 7.33315 15.1413 7.27215C15.2375 7.22288 15.2727 7.21819 15.6411 7.21819C15.9883 7.21819 16.0493 7.22288 16.1267 7.26511Z' fill='%2365778b'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  width: 21px;
  height: 21px;
}

.container-slim {
  width: 800px;
}

/* smooth transition */
#social-links li a {
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#social-links li a:hover {
  transform: scale(1.2);
}

p, table td {
  color: #6f6f6f;
}

#skills h4 {
  font-weight: bolder;
  font-size: 20px;
}

#skills-links p {
  margin: 18px auto;
  font-size: 18px;
}

#skills a {
  padding: 10px;
  color: #65778b;
  transition: all .4s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fbfbfb;
}

#skills a:hover {
  text-decoration: none;
  background: #f5f7f9;
}

#skills i {
  font-size: 1.3em;
  color: #65778b;
  margin-right: 10px;
}

#skills img {
  opacity: .6;
  width: 20px;
  margin-right: 10px;
}

.w-list {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.w-list .description {
  font-size: 15px;
  line-height: 21px;
  margin-top: 7px;
  margin-bottom: 0;
  color: #3d4f5f;
}

.w-list li {
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
}

.w-list i.fa-codeigniter {
  width: 33px;
  height: 37px;
}

.w-list i.fa-nextjs {
  width: 32px;
  height: 32px;
  position: relative;
  left: 1.5px;
}

.w-list i {
  font-size: 2em;
  color: #65778b;
  width: 34px;
}

.w-list .project-title {
  font-weight: 500;
  font-size: 18px;
}

.w-wrapper {
  display: flex;
  gap: 20px;
  padding: 25px 20px;
  background-color: #fbfbfb;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.w-wrapper:hover {
  background-color: #f5f7f9;
}

.w-wrapper > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
}

.w-container .status-icon,
.w-container small {
  color: #65778b;
  font-size: 12px;
}

.w-list a:hover {
  text-decoration: underline;
}

.project-title {
  font-weight: 500;
  font-size: 18px;
}

#graphic-works .description a,
#contact .description a {
  text-decoration: underline;
}

.description {
  margin-top: 0;
  color: #65778b;
}

#skills-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 1rem;
}

@media only screen and ( max-width: 981px ) {
  #skills-links {
    grid-template-columns: 1fr 1fr;
  } 
}

@media only screen and ( max-width: 720px ) {
  br {
    content: "";
    display: none;
  }

  br::after {
    content: "\00a0";
  }

  #about img {
    position: relative;
    left: auto;
    top: -29px;
    width: 90px;
    height: auto;
    display: block;
  }

  #about .col-md-8 {
    text-align: center;
  }

  #avatar-left {
    display: block;
  }

  #avatar-right {
    display: none;
  }

  .container-slim {
    width: inherit;
  }
}

.status-icon {
  font-size: 15px;
}

.custom-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  transition: .3s all ease-in-out;
}

.icon-bigcommerce {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2365778b' viewBox='0 0 24 24' role='img' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M12.645 13.663h3.027c.861 0 1.406-.474 1.406-1.235 0-.717-.545-1.234-1.406-1.234h-3.027c-.1 0-.187.086-.187.172v2.125c.015.1.086.172.187.172zm0 4.896h3.128c.961 0 1.535-.488 1.535-1.35 0-.746-.545-1.35-1.535-1.35h-3.128c-.1 0-.187.087-.187.173v2.34c.015.115.086.187.187.187zM23.72.053l-8.953 8.93h1.464c2.281 0 3.63 1.435 3.63 3 0 1.235-.832 2.14-1.722 2.541-.143.058-.143.259.014.316 1.033.402 1.765 1.48 1.765 2.742 0 1.78-1.19 3.202-3.5 3.202h-6.342c-.1 0-.187-.086-.187-.172V13.85L.062 23.64c-.13.13-.043.359.143.359h23.631a.16.16 0 0 0 .158-.158V.182c.043-.158-.158-.244-.273-.13z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

li a:hover .custom-icon {
  background-color: #f18806;
}

.description, .p-footer {
  font-size: 18px;
}

.p-footer {
  text-align: center;
  color: #65778b;
}