@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Albert Sans', sans-serif;
}

a {
  color: #297dd7;
}

body p {
  font-size: 19px;
  line-height: 30px;
}

.navbar-brand span, h2 {
  color: #3d4f5f;
}

#main-nav {
  background: #fff !important;
  border-bottom: 1px solid #eee;
}

#social-links {
  padding: 0;
  margin: 0;
}

#social-links li {
  float: left;
  list-style: none;
}

#social-links li a {
  display: block;
  vertical-align: middle;
  margin-left: 20px;
  color: #6f6f6f;
}

#avatar-left {
  display: none;
}

#about {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#about h2 {
  font-size: 3rem;
}

#about img {
  height: 280px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.45rem;
}

#social-links i {
  font-size: 1.2em;
}

.fa-codeigniter {
  background-image: url(https://cdn.iconscout.com/icon/free/png-512/codeigniter-1-458250.png);
  position: relative;
  width: 21px;
  height: 23px;
  opacity: .8;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
}

.container-slim {
  width: 800px;
}

/* smooth transition */
#social-links li a {
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#social-links li a:hover {
  transform: scale(1.2);
}

p, table td {
  color: #6f6f6f;
}

#skills h4 {
  font-weight: bolder;
  font-size: 20px;
}

#skills-links p {
  margin: 18px auto;
  font-size: 18px;
}

#skills a {
  padding: 10px;
  color: #6f6f6f;
  transition: all .4s ease-in-out;
}

#skills a:hover {
  text-decoration: none;
  background: #f5f7f9;
}

#skills i {
  font-size: 1em;
  color: #6f6f6f;
  margin-right: 3px;
}

#skills img {
  opacity: .6;
  margin-right: 15px;
  width: 18px;
}

#works-table {
  max-height: 400px;
  display: block;
  overflow-y: scroll;
  background-color: #fbfbfb;
}

#works-table .description {
  font-size: 15px;
  line-height: 21px;
  margin-top: 7px;
}

#works-table tr {
  transition: all .4s ease-in-out;
}

#works i.fa-codeigniter {
  width: 33px;
  height: 37px;
}

#works i {
  font-size: 2em;
}

#works td {
  vertical-align: middle;
}

.project-title {
  font-weight: 500;
  font-size: 18px;
}

#graphic-works .description a,
#contact .description a {
  text-decoration: underline;
}

#skills-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and ( max-width: 981px ) {
  #skills-links {
    grid-template-columns: 1fr 1fr;
  } 
}

@media only screen and ( max-width: 720px ) {
  br {
    content: "";
    display: none;
  }

  br::after {
    content: "\00a0";
  }

  #about img {
    position: relative;
    left: auto;
    top: -29px;
    width: 90px;
    height: auto;
    display: block;
  }

  #about .col-md-8 {
    text-align: center;
  }

  #avatar-left {
    display: block;
  }

  #avatar-right {
    display: none;
  }

  .container-slim {
    width: inherit;
  }
}

.status-icon {
  font-size: 15px;
}

.custom-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #6f6f6f;
  transition: .3s all ease-in-out;
}

.icon-bigcommerce {
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Laag_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2489.2 2487.6' style='enable-background:new 0 0 2489.2 2487.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2334313F;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M1311.5,1416.2h314c89.3,0,145.8-49.1,145.8-128c0-74.4-56.5-128-145.8-128h-314c-10.4,0-19.3,8.9-19.3,17.9 v220.2C1293.6,1408.7,1301,1416.2,1311.5,1416.2z M1311.5,1923.6h324.4c99.7,0,159.2-50.6,159.2-139.9 c0-77.4-56.5-139.9-159.2-139.9h-324.4c-10.4,0-19.3,8.9-19.3,17.9v242.6C1293.6,1916.2,1301,1923.6,1311.5,1923.6z'/%3E%3Cpath class='st0' d='M2460.3,5.5l-928.6,925.6h151.8c236.6,0,376.5,148.8,376.5,311c0,128-86.3,221.7-178.6,263.4 c-14.9,6-14.9,26.8,1.5,32.7c107.1,41.7,183,153.3,183,284.2c0,184.5-123.5,331.8-363.1,331.8h-657.7c-10.4,0-19.3-8.9-19.3-17.9 v-700.9L6.4,2450.4c-13.4,13.4-4.5,37.2,14.9,37.2h2450.9c8.9,0,16.4-7.4,16.4-16.4V18.9C2493,2.5,2472.2-6.4,2460.3,5.5z'/%3E%3C/g%3E%3C/svg%3E%0A");                 
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Laag_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2489.2 2487.6' style='enable-background:new 0 0 2489.2 2487.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2334313F;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M1311.5,1416.2h314c89.3,0,145.8-49.1,145.8-128c0-74.4-56.5-128-145.8-128h-314c-10.4,0-19.3,8.9-19.3,17.9 v220.2C1293.6,1408.7,1301,1416.2,1311.5,1416.2z M1311.5,1923.6h324.4c99.7,0,159.2-50.6,159.2-139.9 c0-77.4-56.5-139.9-159.2-139.9h-324.4c-10.4,0-19.3,8.9-19.3,17.9v242.6C1293.6,1916.2,1301,1923.6,1311.5,1923.6z'/%3E%3Cpath class='st0' d='M2460.3,5.5l-928.6,925.6h151.8c236.6,0,376.5,148.8,376.5,311c0,128-86.3,221.7-178.6,263.4 c-14.9,6-14.9,26.8,1.5,32.7c107.1,41.7,183,153.3,183,284.2c0,184.5-123.5,331.8-363.1,331.8h-657.7c-10.4,0-19.3-8.9-19.3-17.9 v-700.9L6.4,2450.4c-13.4,13.4-4.5,37.2,14.9,37.2h2450.9c8.9,0,16.4-7.4,16.4-16.4V18.9C2493,2.5,2472.2-6.4,2460.3,5.5z'/%3E%3C/g%3E%3C/svg%3E%0A");                 
}

li a:hover .custom-icon {
  background-color: #f18806;
}

.description, .p-footer {
  font-size: 18px;
  color: #65778b;
}
