#main-nav {
  background: #fff !important;
  border-bottom: 1px solid #eee;
}

#social-links {
  padding: 0;
  margin: 0;
}

#social-links li {
  float: left;
  list-style: none;
}

#social-links li a {
  display: block;
  vertical-align: middle;
  margin-left: 20px;
  color: #6f6f6f;
}

#about img {
  height: 240px;
  margin: 0 auto;
  position: absolute;
  top: -42px;
  left: 70px;
}

@media only screen and ( max-width: 640px ) {
  #about img {
    top: 200px !important;
    right: -190px !important;
  }
}

#social-links i {
  font-size: 1.2em;
}

.fa-codeigniter {
  background-image: url(https://cdn.iconscout.com/icon/free/png-512/codeigniter-1-458250.png);
  position: relative;
  width: 25px;
  height: 26px;
  opacity: .8;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
}

.container-slim {
  width: 800px;
}

/* smooth transition */
#social-links li a {
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#social-links li a:hover {
  transform: scale(1.2);
}


a, a:hover, a:focus, a:hover > i {
  color: #f18806;
}

p, table td {
  color: #6f6f6f;
}

#skills a:hover {
  text-decoration: none;
}

#skills i {
  font-size: 1.5em;
  margin-right: 15px;
  color: #6f6f6f;
}

#skills img {
  opacity: .6;
  margin-right: 15px;
  width: 25px;
}

#works-table {
  max-height: 400px;
  display: block;
  overflow-y: scroll;
}

#works i.fa-codeigniter {
  width: 33px;
  height: 37px;
}

#works i {
  font-size: 2em;
}

#works td {
  vertical-align: middle;
}
