body p {
  font-size: 19px;
  line-height: 30px;
}

#main-nav {
  background: #fff !important;
  border-bottom: 1px solid #eee;
}

#social-links {
  padding: 0;
  margin: 0;
}

#social-links li {
  float: left;
  list-style: none;
}

#social-links li a {
  display: block;
  vertical-align: middle;
  margin-left: 20px;
  color: #6f6f6f;
}

#avatar-left {
  display: none;
}

#about {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#about img {
  height: 280px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

#social-links i {
  font-size: 1.2em;
}

.fa-codeigniter {
  background-image: url(https://cdn.iconscout.com/icon/free/png-512/codeigniter-1-458250.png);
  position: relative;
  width: 21px;
  height: 23px;
  opacity: .8;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
}

.container-slim {
  width: 800px;
}

/* smooth transition */
#social-links li a {
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#social-links li a:hover {
  transform: scale(1.2);
}


a, a:hover, a:focus, a:hover > i {
  color: #f18806;
}

p, table td {
  color: #6f6f6f;
}


#skills h4 {
  font-weight: bolder;
  font-size: 20px;
}

#skills-links p {
  margin: 30px auto;
}

#skills a {
  padding: 10px;
  color: #6f6f6f;
}

#skills a:hover,
#skills-links a:hover > i,
#skills-links a:hover > img {
  text-decoration: none;
  color: #f18806;
}

#skills i {
  font-size: 1em;
  color: #6f6f6f;
  margin-right: 3px;
}

#skills img {
  opacity: .6;
  margin-right: 15px;
  width: 18px;
}

#works-table {
  max-height: 400px;
  display: block;
  overflow-y: scroll;
}

#works i.fa-codeigniter {
  width: 33px;
  height: 37px;
}

#works i {
  font-size: 2em;
}

#works td {
  vertical-align: middle;
}

@media only screen and ( max-width: 720px ) {
  br {
    content: '';
    display: none;
  }

  #about img {
    position: relative;
    left: auto;
    top: -29px;
    width: 90px;
    height: auto;
    display: block;
  }

  #about .col-md-8 {
    text-align: center;
  }

  #avatar-left {
    display: block;
  }

  #avatar-right {
    display: none;
  }

  .container-slim {
    width: inherit;
  }

  #skills-links a {
    display: block;
    float: left;
    width: 50%;
  }
}
